# python stuff, cache, env and upcoming
assets
**/__pycache__
*.env
passwords.env
databases
main.py
tests
cogs/__pycache__
TODO
.mypy_cache

# temp stuff
delete.*
*.org

# images
*.jpg
*.jpeg
*.png
*.webp

# database
*.sqlite
*.sqlite3
*.db
